<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjectWithPods.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A757A7451CC7DF1200C22B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A757A75C1CC7DF1200C22B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A757A7671CC7DF1300C22B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
